<html>
    <head>
        <% include styles %>
        <% include javascripts %>
    </head>
    
    <body>
       <img id="home-bg" src="/images/cookies-bg.jpg">
       <div id="home-main">
           <div class="content">
               <h1>Cookies</h1>
               <h2>Everyone loves cookies</h2>
               <p>Here is the perfect place to share cookies with your friends.</p>
               <a href="/auth/facebook">Login with Facebook</a>
           </div>
       </div>

    </body>

</html>
