<html>
    <head>
        <% include styles %>
        <% include javascripts %>
    </head>
    
    <body>
       <img id="home-bg" src="/images/cookies-bg.jpg">
       <div id="home-main">
           <div class="content">
               <h1>Cookies With Friends</h1>
               <p>Fact: Everyone loves cookies. Everyone loves friends.</p>
               <p>Here is the perfect place to share cookies with your friends.</p>
               <div class="login">
                   <a href="/auth/facebook">Login with Facebook</a>
               </div>
           </div>
       </div>

    </body>

</html>
